# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage
.vscode
notes.md
cypress/support/*
!cypress/support/commands.ts
!cypress/support/component.tsx
!cypress/support/e2e.tsx
!cypress/support/index.d.ts
stats.html